body{

    background: url("unsplash3.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;

}

.navbar{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.5);

}

.logo{

    float: left;
    margin: 10px;

    span{
        
        color: #dfe6e9;
        font-size: 30px;
        cursor: pointer;
        text-decoration: underline;
        transition: 0.5s all ease-in-out;

    }

}

.menu{

    ul{

        float: right;

        li{

            display: inline-block;
            margin-right: 30px;

            a{

                i{

                    color: #dfe6e9;
                    margin-right: 10px;
                    cursor: pointer;

                    &:hover{

                        color: white;

                    }

                }
                
                color: #dfe6e9;
                text-decoration: none;
                text-transform: capitalize;

                &:hover{

                    color: white;
                    text-decoration: underline;

                }

            }
        }
    }
}

.cards{

    position: relative;
    top: 100px;
    width: 100%;
    height: 530px;
    background: none;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;

}

.card-1{

    margin: 40px;
    margin-left: 60px;
    width: 300px;
    height: 450px;
    color: white;
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;

    span{

        margin-top: 40px;

    }

    h2{

        margin-top: 10px;
        font-style: italic;
        font-size: 30px;

    }

    p{

        margin: 5px;

    }

}

.card-2{

    margin: 40px;
    width: 300px;
    height: 450px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;

    h2{

        text-align: center;
        text-transform: capitalize;
        font-style: italic;
        text-decoration: underline;

    }

    li{

        i{

            margin-right: 10px;
            transition: all 1s ease-in-out;
            display: none;

        }

        margin-top: 10px;
        list-style: none;
        text-align: center;
        letter-spacing: 2px;
        cursor: pointer;
        text-transform: capitalize;
        transition: all 1s ease-in-out;

        &:hover{

            font-size: 30px;
            font-style: italic;

            i{

                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 40px;

            }

        }

    }

}

.card-3{

    margin: 40px;
    width: 300px;
    height: 450px;
    border: 2px solid white;
    border-radius: 10px;

    h2{

        text-align: center;
        color: white;
        font-style: italic;
        text-decoration: underline;

    }

    li{

        i{

            margin-right: 10px;
            transition: 1s all ease-in-out;
            text-decoration: none;
            display: none;

        }

        list-style: none;
        text-align: center;
        margin-top: 10px;
        letter-spacing: 2px;
        color: white;
        cursor: pointer;
        transition: all 1s ease-in-out;

        &:hover{

            font-size: 30px;
            letter-spacing: 5px;
            font-style: italic;

            i{

                font-size: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

            }

        }

    }

}